.shop .cheetah {
  background-color: var(--primary-300);
}


.shop-content {
  max-width: 85%;
  margin-inline: auto;
}

.shop-text {
  text-align: center;
  margin-bottom: 2rem;
}

.shop-tagline {
  font-size: 1.3em;
  color: var(--accent-100);
  text-transform: uppercase;
  font-weight: bold;
}

.shop-title {
  font-size: 2.5em;
  padding-block: 6px;
  font-weight: bold;
  color: var(--text-100);
}

.shop-products {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.shop-card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  height: auto;
  box-shadow: 0 0 4px 0.1rem rgba(0,0,0,0.1);
  transition: var(--transition-1);
}

.shop-card:hover {
  transform: translateY(-4px);
}

.card-img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.card-desc {
  background-color: var(--text-200);
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  color: var(--primary-300);
  transition: var(--transition-1);
}

.card-desc:hover {
  background-color: var(--primary-200);
  color: var(--text-100);
}

.card-desc a {
  padding-block: 12px;
}

/* Overwrite Safety Equipment */
.shop .safety {
  background-color: var(--primary-100);
}

.safety .shop-tagline {
  color: var(--bg-200);
}

.safety .shop-title {
  color: var(--bg-100);
}

.safety .card-desc {
  background-color: var(--text-200);
  color: var(--primary-300);
}

.safety .card-desc:hover {
  background-color: var(--primary-300);
  color: var(--text-100);
}

.safety .card-img {
  object-fit: contain;
}


/* ===== Media Query ===== */
/* Large */
@media (max-width: 1024px) {
  .shop-products {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-img {
    height: 300px;
    object-fit: contain;
  }
}

/* Medium */
@media (max-width: 768px) {
  .shop-content {
    max-width: 90%;
  }
  .shop-products {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-img {
    height: 250px;
    object-fit: contain;
  }
}


/* Small */
@media (max-width: 640px) {
  .shop-products {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-img {
    height: 200px;
    object-fit: contain;
  }
} 